body {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    cursor: -webkit-grab;
    cursor: grab;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a { color: inherit; line-height: 25px; padding: 10px;}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        transform: rotateY(0deg) rotateX(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg) rotateX(360deg);
        transform: rotateY(360deg) rotateX(360deg);
    }
}

@-webkit-keyframes blinking {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


#directions {
    text-align: center;
    -webkit-animation: blinking 1s linear infinite;
    font-size: 1.5em;
    position: absolute;
    width: 100%;
    font-family: inherit;
    &:before {
        content:'\2190  '
    }
    &:after {
        content:'  \2192'
    }
}

.back, .front {
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    overflow: hidden;
}

.front {
    border-radius: 20px;
    width: 330px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -165px;
    margin-top: -100px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 2;
    text-align: center;

    .top {
        background-color: red;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        padding-bottom: .4em;
        letter-spacing: 2px;
        color: white;
    }
    .name {
        line-height: 108px;
        height: 115px;
        font-size: 6em;
        font-weight: normal;
        -webkit-margin-before: 0;
        margin-block-start: 0;
        -webkit-margin-after: 0;
        margin-block-end: 0;
        background: white;
    }

    .bottom {
        background-color: red;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 27px;
    }
    .shine {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
        background: -webkit-linear-gradient(left, transparent, #fff, transparent);
        background: -o-linear-gradient(left, transparent, #fff, transparent);
        background: linear-gradient(90deg, transparent, #fff, transparent);
        opacity: .6;
    }
}

.back {
    border-radius: 20px;
    width: 330px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -165px;
    margin-top: -100px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    background: black;
    color: white;
    .bottom {
        float: right;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    .shine {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
        background: -webkit-linear-gradient(left, transparent, #fff, transparent);
        background: -o-linear-gradient(left, transparent, #fff, transparent);
        background: linear-gradient(90deg, transparent, #fff, transparent);
        opacity: .15;
    }
}

.iLike {
    width: 100%;
    height: 100%;
    cursor: default;
    ul {
        li {
            cursor: pointer;
            margin-bottom: .5em;
            * {
                display: inline;
            }
        }
    }
    iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 66vw;
        height: 100vh;
    }
}